<h1><%= @contest.name %></h1>

<div class="contest">
  <p><%= @contest.location %></p>
  <p><%= @contest.starts_at %></p>
  <p><%= @contest.ends_at %></p>
  <p><%= @contest.terms_of_service %></p>
</div>