<style type="text/css">
  .alert{
    background-color: #f2dede;
  }
</style>
<%= simple_form_for(resource, as: resource_name, url: update_password_path, html: { method: :post, class: 'password-form' }) do |f| %>
  <%#= devise_error_messages! %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<span class="new_pass_error" id="new_pass_error" ></span>
  <%= f.input :password, label: 'New Password', autocomplete: "off", hint: 'Leave blank if you don\'t want to change it' %>
  <span class="conf_pass_error" id="conf_pass_error" ></span>
  <%= f.input :password_confirmation, autocomplete: "off" %>
  <span class="current_pass_error" id="current_pass_error" ></span>
  <%= f.input :current_password, autocomplete: "off", hint: 'We need your current password to confirm your changes', placeholder: '*Current Password' %>

  <div class="actions">
    <%= f.submit 'Update Password', class: 'btn btn-warning', id: "btn_profile_password" %>
  </div>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){
    $("#btn_profile_password").click(function(evt){
      if($("#user_current_password").val() == ""){
        $("#current_pass_error").removeClass("current_pass_error");
        $("#current_pass_error").text("Current Password field can't be blank");
        evt.preventDefault();
      }else{
        $("#current_pass_error").addClass("current_pass_error");
      }

      if($("#user_password").val() == ""){
        $("#new_pass_error").removeClass("new_pass_error");
        $("#new_pass_error").text("New Password field can't be blank");        
        evt.preventDefault();
      }else{
        $("#new_pass_error").addClass("new_pass_error");
      }

      if($("#user_password_confirmation").val() == ""){
        $("#conf_pass_error").removeClass("conf_pass_error");
        $("#conf_pass_error").text("Confirm Password field can't be blank");        
        evt.preventDefault();
      }else{
        $("#conf_pass_error").addClass("conf_pass_error");
      }      

    });
  });
</script>