<div class="join-section">
  <div class="container">
    <h1>About Green X Prize</h1>
  </div>
</div>
<div class="global-section">
  <div class="container">
    <h2>WHO WE ARE AS A COMMUNITY</h2>
    <p>Green X Prize is a brand new global online community where socially conscious entrepreneurs can propose “green” ideas that can benefit their communities and generate profits for public, private, and corporate investors.</p>
  </div>
</div>


<div class="about-part"></div>

<div class="about-clallenge">
<div class="container">
  <h1>Challenge The Status Quo</h1>
</div>
</div>

<div class="about-sec-main">
<div class="container">
  <h1>It represents a forum for independent thinkers ready to challenge the status quo through groundbreaking advances in sustainable products and services. These individuals and groups will come from all walks of life. They represent a socially responsible cadre of leaders sacrificing self-interest for the greater good of society.</h1>
</div>
</div>


<div class="about-rework">
<div class="container">
  <h1>Rework The Economic System</h1>
    <p>They do this not because they do not believe in capitalism (indeed, one objective of the Prizes is to help them enjoy greater financial success), but because they recognize the deficiencies of the old economic model based solely on self-interest.</p>
</div>
</div>

<div class="gallery">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="carousel carousel-showmanymoveone slide" id="itemslider">
              <div class="carousel-inner">

                <div class="item">
                  <div class="col-xs-12 col-sm-6 col-md-2">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div>
                <div class="col-xs-12 col-sm-6 col-md-2 cloneditem-1">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-2">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-3">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-4">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-5">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div></div>

                <div class="item">
                  <div class="col-xs-12 col-sm-6 col-md-2">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div>
                <div class="col-xs-12 col-sm-6 col-md-2 cloneditem-1">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-2">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-3">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-4">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-5">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div></div>

                <div class="item">
                  <div class="col-xs-12 col-sm-6 col-md-2">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div>
                <div class="col-xs-12 col-sm-6 col-md-2 cloneditem-1">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-2">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-3">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-4">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-5">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div></div>

                <div class="item">
                  <div class="col-xs-12 col-sm-6 col-md-2">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div>
                <div class="col-xs-12 col-sm-6 col-md-2 cloneditem-1">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-2">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-3">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-4">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-5">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div></div>

                <div class="item active">
                  <div class="col-xs-12 col-sm-6 col-md-2">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div>
                <div class="col-xs-12 col-sm-6 col-md-2 cloneditem-1">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-2">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-3">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-4">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-5">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div></div>

                <div class="item">
                  <div class="col-xs-12 col-sm-6 col-md-2">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div>
                <div class="col-xs-12 col-sm-6 col-md-2 cloneditem-1">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-2">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-3">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-4">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-5">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div></div>

                <div class="item">
                  <div class="col-xs-12 col-sm-6 col-md-2">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div>
                <div class="col-xs-12 col-sm-6 col-md-2 cloneditem-1">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-2">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-3">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %>></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-4">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div><div class="col-xs-12 col-sm-6 col-md-2 cloneditem-5">
                    <a href="#"><%= image_tag "image1.png", class: "img-responsive center-block" %></a>

                  </div></div>

              </div>

              <div id="slider-control">
                <a class="left carousel-control" href="#itemslider" data-slide="prev">
                <%= image_tag "left.png", class: "img-responsive", alt: "Left" %>
                </a>
                
                <a class="right carousel-control" href="#itemslider" data-slide="next">
                <%= image_tag "right.png", class: "img-responsive", alt: "Right" %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </div>

<script type="text/javascript">
  $(document).ready(function() {
  $('#media').carousel({
    pause: true,
    interval: false,
  });
});
  </script>


<div class="green-insire">
  <div class="container">
      <div class="col-lg-12">
        <div class="col-lg-6"> </div>
            <div class="col-lg-6 letinspire">
                <div><h1>Let's Inspire And Fund Change</h1> 
                </div>
                  <p>Aspiring entrepreneurs are invited to join the Green X Prize community to share their sustainable products and ideas. Through an open and transparent competition, the Green X Prize community selects a monthly winner. That individual, team, or company is awarded a cash prize generated from the sales of <i>Go Green, Get Rich</i>. Thus, each sale of or subscription to this chronicle brings us closer to achieving a truly sustainable civilization.</p>
                  <%= link_to 'BECOME A GREEN X PRIZE MEMBER TODAY', join_path, method: :get, class: "btn btn-warning become" %>
                
         </div>
        </div>
    </div>

</div>


<div class="advertisment-application">
<div class="container">
  <h1>Welcome To The Movement Called "Sustainability"</h1>
   

</div>
</div>
