<!-- Modal -->
<script type="text/javascript">
  $(document).ready(function(){  
	$(".close").click(function(){
	   $('#video').each(function (){   
		  this.currentTime = 0;
		  this.pause();
		});
	});

	$(".find-out-btn").click(function(evt){
	   $('#info_video').each(function (){   
		  if(this.paused){
			this.play();
		  }else{
			this.pause();
		  }
		});        
	});

  });
</script>

<div class="banner">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6 video">
				<video controls="" id="info_video" poster="what_is_greenxprize.jpg">
					<source src="/GreenXprize_11May_FinalVideo.mp4" type="video/mp4" />
					Your browser does not support the video tag.
				</video>
			</div>
			<div class="col-xs-12 col-sm-6 content">
				<p> Green X Prize is a brand new global online community where socially conscious entrepreneurs can propose their communities and generate profits for public, private, and corporate investors. </p>
				<a href="#" class="find-out-btn" >Find Out How</a> 
			</div>
		</div>
	</div>
</div>
<!-- slider start -->
<div class="team-section">
	<div class="container-fluid">
		<div class="row">
			<h2>$10,000 WINNERS</h2>
			<div class="col-xs-12 col-sm-3 team">
				<div class="team-member">
					<div class="team-thumb">
						<%= image_tag "girl.png", alt: "img", class: "img-responsive ps-rel" %>
					</div>
					<div class="team-content">
						<h3>Jane Doe</h3>
						<p>A synopsis of our future winner's unknown x project.</p>
						<button type="button" class="btn btn-warning">Jane's Project</button>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3 team">
				<div class="team-member">
					<div class="team-thumb">
						<%= image_tag "girl.png", alt: "img", class: "img-responsive ps-rel" %>
					</div>
					<div class="team-content">
						<h3>Jane Doe</h3>
						<p>A synopsis of our future winner's unknown x project.</p>
						<button type="button" class="btn btn-warning">Jane's Project</button>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3 team">
				<div class="team-member">
					<div class="team-thumb">
						<%= image_tag "girl.png", alt: "img", class: "img-responsive ps-rel" %>
					</div>
					<div class="team-content">
						<h3>Jane Doe</h3>
						<p>A synopsis of our future winner's unknown x project.</p>
						<button type="button" class="btn btn-warning">Jane's Project</button>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3 team">
				<div class="team-member">
					<div class="team-thumb">
						<%= image_tag "girl.png", alt: "img", class: "img-responsive ps-rel" %>
					</div>
					<div class="team-content">
						<h3>Jane Doe</h3>
						<p>A synopsis of our future winner's unknown x project.</p>
						<button type="button" class="btn btn-warning">Jane's Project</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- slider end --> 
<div class="how-works">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="how-works-title">
					<h1>How</h1>
					<%= image_tag "logo.png" %>
					<h1>Works</h1>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="identy">
					<%= image_tag "how-works-banner.png", alt: "img" %>
					<div class="content">
						<h2>Identify Any Problem</h2>
						<p>You know the world needs a sustainable overhaul.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="help-works">
	<div class="container">
		<div class="col-sm-4">
			<h1>create a solution</h1>
			<span>You can design an idea, movement, or theory toward a more sustainable world.</span>
		</div>
		<div class="col-sm-4 baby-img">
			<%= image_tag "img1.png", alt: "img" %>
			<h2>You Know You Can Help</h2>
		</div>
		<div class="col-sm-4">
			<h1>get inspired</h1>
			<span>Join the movement and see what else is being invented, wait until you’re ready to pitch.</span>
		</div>
	</div>
</div>
<div class="movment" id="movment">
	<%= image_tag "green.png" %>
	<div class="container">
		<div class="title">
			<h2>2 Ways To Join The Movement</h2>
			<span>Members Can Create, Inspire, Vote, Win!</span>
		</div>
		<div class="row content">
			<div class="col-xs-6 col-sm-4 text text-left">
				<h3>Lifetime Membership</h3>
				<span>Click here to buy the book and become a lifetime Green X Prize member.</span>
				<%= link_to 'Get Your Lifetime Membership'.html_safe, products_path, class: "membership" %>      
			</div>
			<div class="col-xs-6 col-sm-offset-4 col-sm-4 text text-right">
				<h3>Monthly Membership</h3>
				<span>Skip the book buy a monthly membership for just $2.99 per month.</span>
				<%= link_to "Get Your Monthly Membership".html_safe, new_subscription_path, class: 'membership' %>
			</div>
		</div>
	</div>
</div>
<div class="fun-sec-main">
	<div class="container">
		<div class="row">
			<div class="col-sm -12 section-title">
				<h2>how it works</h2>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="fun-member">
					<%= link_to products_path do %>
					<div class="fun-thumb">
						<%= image_tag 'home_icons/purchase.png'%>
					</div>
					<h3>Purchase Go Green, Get Rich</h3>
					<span>Purchase your copy today! Join other like-minded global citizens in the creation and implementation of innovative sustainability-centric ideas and endeavors.</span>
					<%end%>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="fun-member">
					<%= link_to new_user_registration_path do %>
					<div class="fun-thumb">
						<div>
							<%= image_tag 'home_icons/code.png' %>
						</div>
					</div>
					<h3>Sign Up Using Your Unique Code</h3>
					<span>Already have an authentication code? Click here to enter your code and gain immediate access to Green X Prize and all contests.</span>
					<%end%>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="fun-member">
					<%= link_to projects_path do %>
					<div class="fun-thumb">
						<div>
							<%= image_tag 'home_icons/share.png' %>
						</div>
					</div>
					<h3>Share Your Green Idea</h3>
					<span>Have a green idea on how to solve an existing problem using clean energy and sustainable technology? Share it with the Green X Prize community!</span>
					<%end%>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="fun-member">
					<%= link_to projects_path do %>
					<div class="fun-thumb">
						<div>
							<%= image_tag 'home_icons/prize.png' %>
						</div>
					</div>
					<h3>Get the Votes, Win the Prize!</h3>
					<span>Have you or someone you know submitted a green idea? Encourage friends and family to vote for a chance to win the $10,000 cash prize!</span>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="wins-section">
	<div class="container">
		<h1>Each Month Someone Wins $10,000</h1>
		<p>through a transparent community voting</p>
	</div>
</div>
<div class="sponcer">
	<div class="container">
		<h1>New Ideas are Inspired, Sponsored and Funded Every Month</h1>
		<%= link_to 'Apply To Be A Sponsor', new_sponsor_path, class: "sponcer-btn" %>
	</div>
</div>
<div class="join-today">
	<div class="container">
		<h1>New Ideas are Inspired, Sponsored and Funded Every Month</h1>
		<div class="membrshp-btn">   
			<%= link_to 'Lifetime Membership', products_path, class: "btn btn-warning life-membership" %>
			<%= link_to "Monthly Membership", new_subscription_path, class: 'btn btn-warning month-membership' %>
		</div>
	</div>
</div>
