<div class="project-details">
  <div class="container">
    <h1>About you</h1>
  </div>
</div>
<div class="book-background">
  <div class="container user-form">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div id="new-project" class="generic-form has-image">
          <%= render 'steps', step: 2 %>
          <% if @project.group? %>
            <div id="group-or-organization">
              <%= render 'groups/form', group: @group, redirect_path: project_path(@project) %>
            </div>
          <% else %>
            <div class="chooser">
              <h2>Who is starting this project?</h2>
              <div class="col-sm-6">
                <%= link_to '#', class: 'just-me' do %>
                  <%= image_tag 'just-me.png' %>
                  <p>Just Me</p>
                <% end %>
              </div>
              <div class="col-sm-6">
                <%= link_to '#', class: 'group-or-organization' do %>
                  <%= image_tag 'groups.png' %>
                  <p>Group or Organization</p>
                <% end %>
              </div>
            </div>
            <div id="just-me" class="hide">
              <%= render 'registrations/form', user: @user, redirect_path: project_path(@project) %>
            </div>
            <div id="group-or-organization" class="hide">
              <%= render 'groups/form', group: @group, redirect_path: project_path(@project) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<script type="text/javascript">
  $(document).ready(function(){
    $(".just-me").click(function(){
      $('.chooser').addClass('hide');
      $('#just-me').removeClass('hide');
    });

    $(".group-or-organization").click(function(){
      $('.chooser').addClass('hide');
      $('#group-or-organization').removeClass('hide');
    });
  });
</script>