<h1>Hello,</h1>
<p>
  <%= @contact.name %> has made the following inquiry:
</p>
<blockquote>
  <%= @contact.content %>
</blockquote>

<p>
  <%= @contact.name %>'s email and phone number is:
  <br>
    <i><%= @contact.email %></i>
  <br>
    <i><%= @contact.phone %></i>
</p>
