<!DOCTYPE html>
<html>
<head>
  <title>GreenXWeb Admin</title>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="admin">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">GreenXWeb</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <% if !current_admin.nil? %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Home', admin_root_path %></li>
            <li><%= link_to 'Logout', destroy_admin_session_path, method: :delete %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <% if !current_admin.nil? %>
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><%= link_to 'Dashboard', '#' %></li>
          </ul>
          <ul id="resource-list" class="nav nav-sidebar">
            <li><%= link_to 'Projects', admin_projects_path %></li>
            <li><%= link_to 'Admnin Policy', admin_admins_policy_index_path %></li>
            <li><%= link_to 'Products', admin_products_path %></li>
            <li><%= link_to 'Orders', admin_orders_path %></li>
            <li><%= link_to 'Subscriptions', admin_subscriptions_path %></li>
            <li><%= link_to 'Subscription Plans', admin_subscription_plans_path %></li>
            <li><%= link_to 'Admins', admin_registrations_path %></li>
            <li><%= link_to 'Contests', admin_contests_path %></li>
            <li><%= link_to 'Categories', admin_categories_path %></li>
            <li><%= link_to 'Sponsors', admin_sponsors_path %></li>
          </ul>
        </div>
      <% end %>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <% if flash.any? %>
          <div class="flash">
            <% flash.reject { |k, _| k.in? [:timedout] }.each do |k, v| %>
              <div class="alert alert-<%= k %>"><%= v %></div>
            <% end %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
